<p>
    <mat-toolbar color="primary">
      <span>Datadash - BotenODK</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>insert_chart</mat-icon>
      </button>
      <button routerLink="/datamodels" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>model_training</mat-icon>
      </button>
      <button routerLink="/usermanagement" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>groups</mat-icon>
      </button>
      <button routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>